<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DrSchedule" />
                <binding name="Pay" />
                <binding name="Medicare" />
                <binding name="VisitRegister" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/SIHIS/DrSchedule/DrSchedule.svc"
                binding="basicHttpBinding" bindingConfiguration="DrSchedule"
                contract="DrSchedule.IDrSchedule" name="DrSchedule" />
            <endpoint address="http://127.0.0.1/SIHIS/Pay/Pay.svc" binding="basicHttpBinding"
                bindingConfiguration="Pay" contract="Pay.IPay" name="Pay" />
            <endpoint address="http://cn-20190104ylbs/SIHIS/VisitRegister/VisitRegister.svc"
                binding="basicHttpBinding" bindingConfiguration="VisitRegister"
                contract="VisitRegister.IVisitRegister" name="VisitRegister" />
            <endpoint address="http://localhost/SIHIS/MedicalCare/Medicare.svc"
                binding="basicHttpBinding" bindingConfiguration="Medicare"
                contract="Medicare.IMedicare" name="Medicare" />
        </client>
    </system.serviceModel>
</configuration>